extend shopping-layout
block content
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(http-equiv="Cache-Control" content="max-age=0")
    meta(name="HandheldFriendly" content="true")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet',href="/stylesheets/shopping/index.css")
    div.shopping-index-container
        div.shopping-index-ads
            a(href="https://h5.sao.cn/product/detail?alias=ifbobk8oyly3")
                img(src="https://piccdn.luojilab.com/store-pc/image/201702/1486050041154.jpg@750w_2e_1l_1an.src")
        div.shopping-index-search
            li
                img(src="/images/search.png" align="top")
                input(type="text" placeholder="小米手环")
        div.shopping-index-divide
            div.divide-item
                img(src="https://piccdn.luojilab.com/store-pc/image/201702/1486222378144.jpg@133w_2e_1l_1an.src")
            div.divide-item
                img(src="https://piccdn.luojilab.com/store-pc/image/201702/1486222388329.jpg@133w_2e_1l_1an.src")
            div.divide-item
                img(src="https://piccdn.luojilab.com/store-pc/image/201702/1486222401782.jpg@133w_2e_1l_1an.src")
        div.shopping-index-brand
            each val in indexProduction
                a(href=val.production_url)
                    img(src=val.production_imgUrl)