.error-container{
    margin: auto;
}
.erweima{
    display: block;
    margin: auto;
    margin-top: 120px;
    width: 200px;
}
.tooltip{
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}