doctype html
html
    head
        title= title
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(http-equiv="Cache-Control" content="no-cache")
        meta(http-equiv="Cache-Control" content="max-age=0")
        meta(name="HandheldFriendly" content="true")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel='stylesheet',href="/stylesheets/activity/layout.css")
        script(src="http://libs.baidu.com/jquery/2.0.3/jquery.min.js")
        script(src="/javascripts/swipe.js")
    body
        block content
        div.activity-layout-container
            div.activity-layout-container-item
                a(href="/activity")
                    p
                        img(src="/images/youji/youji.png")
                    | 活动
            div.activity-layout-container-item
                a(href="/youji")
                    p
                        img(src="/images/youji/youji.png")
                    | 游记
    script.
        if (window.location.pathname.indexOf('/youji') !== -1) {
            $('.activity-layout-container').hide();
        }







