extend ../layout
block content
    link(rel='stylesheet',href="/stylesheets/activity/activity-index.css")
    div
        div.activity-top
            div#slider.swipe(style="visibility:visible")
                div.swipe-wrap
                    figure
                        div.container
                            span 主页
                            span 游记
                            span 商城
                            img(src="/images/activity/right.png" style="width: 20px;float: right;" )
                    figure
                        div.container(style="text-align: right")
                            span 加入我们
        div#activity-slider.swipe(style="visibility:visible")
            div.swipe-wrap
                figure
                    div.container
                        img(src="/images/activity1.jpg")
                figure
                    div.container
                        img(src="/images/activity2.jpg")
        div.devide
            .deveide-items
                img.aa(src="/images/activity/aa.png")
                p.title AA约伴
            .deveide-items
                div.day=(new Date()).getDate()
                p.title 每日一闻
            .deveide-items
                img.aa(src="/images/activity/fabu.png")
                p.title 募集友军
    //script(src="/javascripts/youji/article_all.js")
    script.
        var slider =
                Swipe(document.getElementById('slider'), {
                    continuous: true,
                    callback: function (pos) {
                    }
                });
        var slider1 =
                Swipe(document.getElementById('activity-slider'), {
                    auto: 3000,
                    continuous: true,
                    callback: function (pos) {
                    }
                });