body{
    background-color: #ebebf2;
}
.shopping-lastest-title{
    background-color: #fefefe;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 12px;
    border-bottom: 1px solid #e6e6e7;
}
.lastest-title-items{
    flex: 0.33;
}
.lastest-title-items:nth-child(1){
    color: orange;
}
.lastest-title-items img{
    width: 12px;
    margin-top: 14px;
    margin-left: 4px;
}
.changed{
    color: orange;
}
.unchanged{
    color: black;
}
.production-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    /*border-top: .2px solid #ede6e7;*/
    border-bottom: 1px solid #e6e6e7;
    padding: 20px;
    justify-content: space-between;
}
.production-container-left{
    flex: 0.3;
}
.production-container-left img{
    width: 100%;
    height: 100%;
}
.production-container-right{
    flex: 0.6;
    position: relative;
}
.production-container-right .product-title{
    font-size: 14px;
}
.production-container-right .product-price{
    font-size: 14px;
    color: orange;
    position: absolute;
    bottom: 0;
}
.shopping-lastest-loadMore{
    text-align: center;
    background-color: white;
    width: 100%;
    height: 36px;
    line-height: 40px;
    font-size: 14px;
    color: #cacaca;
    margin-top: 10px;
    margin-bottom: 50px;
}
@media screen and (min-width: 500px){
    .shopping-lastest-container{
        width: 500px;
        margin: auto;
    }
}