* {
    padding: 0;
    margin: 0;
}
.swipe {
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.swipe-wrap {
    overflow: hidden;
    position: relative;
}
.swipe-wrap > figure {
    float: left;
    width: 100%;
    position: relative;
}
#slider {
    max-width: 650px; /* 设置最大的宽度 */
    margin: 0px auto; /* 居中对齐 */
}
#slider figure {
    margin: 0; /* 对齐，四周宽度都为0，在轮播的时候，以整张图片进行移动 */
    position: relative;
    /*margin-top: 2px;*/
    text-align: center;
    background-color: red;
    height: 30px;
    line-height: 30px;
}
figure span{
    display: inline-block;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border: 1px solid #f0c3ff;
    color: white;
    border-radius: 11px;
    margin-right: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
figure span {

}
.container{
    /*border-bottom: 1px solid #f3f3f3;*/
    padding-bottom: 2px;
}
.devide {
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
.deveide-items {
    flex: 0.2;
    text-align: center;
}
.day{
    border: 2px solid #c81900;
    margin: auto;
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #cf3724;
}
.title {
    font-size: 12px;
    margin-top: 6px;
}
.aa{
    width: 52px;
    height: 52px;
}
#activity-slider {
    max-width: 650px; /* 设置最大的宽度 */
    margin: 0px auto; /* 居中对齐 */
}
#activity-slider figure{
    margin: 0; /* 对齐，四周宽度都为0，在轮播的时候，以整张图片进行移动 */
    position: relative;
}
#activity-slider figure img{
    width: 100%;
}
.activity-guanfang-container{
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
}
.guanfang{
    width: 18px;
}
.articles-list-container, .activity-list-container{
    margin-top: 10px;
    position: relative;
}
.article-list-item{
    position: absolute;
    top: 10px;
    width: 32.2%;
    font-size: 14px;
    /*transition: left, top 1s ease;*/
    /*transition-property: left, top;*/
    /*transition-duration: 1s;*/
}
.article-list-item p{
    position: absolute;
    width: 100%;
    background-color: rgba(1,1,1,0.7);
    color: white;
    bottom: 0;
}
.article-list-item img{
    width: 100%;
}
.youji-more{
    float: right;
    color: rgba(16, 18, 20, 0.54);
    font-size: 12px;
}